html {
	--bg-1: #202224;
	--bg-2: #303336;
	--bg-a: #44FF44;
	--fg: #EEEEEE;
	--fg-heavy: #FFFFFF;
	--fg-interactive: #EEEEEE;
	--interactive: var(--bg-a);
	--interactive-fg: var(--fg);
}
html.theme-four {
	/* it's four-coded, yk */
	--bg-1: #1A0F24;
	--bg-2: #272033;
	--bg-a: #8CF29B;
}
html.theme-zinc {
	--bg-1: #3C3F42;
	--bg-2: #53565B;
	--bg-a: #8895A8;
	--fg-interactive: #B5C6E0;
}

html {
	margin: 0;
	padding: 0;
	font-size: calc(max(1rem, 16px));
	font-family: "Fira Code", "Times New Roman", Times, "Roboto Mono", "Roboto", serif, monospace, sans-serif;
	color: #000;
	color: var(--fg);
	background #202224;
	line-height: 2rem;
}
body {
	background: #FFF;
	background: var(--bg-1);
	margin: 0;
	padding: 0;
}
body * {
	font-size: inherit;
	color: inherit;
	font-family: inherit;
	margin: 0;
	padding: 0;
	line-height: inherit;
}


#above-fold {
	background: #FFF;
	background: var(--bg-2);
	font-weight: bold;
	min-height: 30vh;
	padding: 4rem;
	position: relative;
	overflow: hidden;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: 2rem;
}
#above-fold #title {
	font-size: 4rem;
	margin-bottom: 4rem;
	line-height: 4rem;
}
#above-fold #desc {
	
}
#above-fold #buttons {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	gap: inherit;
}
#above-fold #buttons a {
	background: var(--interactive);
	box-shadow: 0 0 0 0.5rem var(--interactive);
	color: var(--interactive-fg);
	padding: 0 0.5rem;
}


#inline-nav, #main-body {
	margin: 0 auto;
	width: calc(100% - 2rem);
	max-width: 40rem;
	line-height: 2rem;
}
#majority {
	margin: 2rem auto 0 auto;
	display: flex;
	flex-direction: column;
	gap: 2rem;
	max-width: 80rem;
}
a {
	color: var(--fg-interactive);
	text-decoration: underline;
	cursor: pointer;
}
pre, code {
	background: var(--bg-2);
	padding: 0 0.5rem;
}
pre, code {
	font-family: "Fira Code", "Roboto Mono", monospace;
}
pre {
	overflow-x: auto;
}
code {
	margin: 0 0.25rem;
}
#main-body h2 {
	margin: 3rem 0 1rem 0;
	font-weight: bold;
	text-align: center;
	color: var(--fg-heavy);
}
#main-body h3 {
	margin: 1rem 0 0 0;
	font-weight: bold;
	color: var(--fg-heavy);
}
#main-body p {
	color: var(--fg);
	text-indent: 2rem;
}
#main-body b {
	font-weight: bold;
	color: var(--fg-heavy);
}
#main-body ul {
	padding-left: 2rem;
}

#footer {
	background: var(--bg-2);
	display: flex;
	flex-direction: row;
	padding: 0 1rem;
	gap: 1rem;
	justify-content: center;
font-weight: bold;	margin-top: 1rem;
}
#footer .foot-bloc {
	flex-grow: 1;
	flex-basis: 0;
	max-width: 30rem;
}

@media screen and (min-width: 60rem) {
	#majority {
		flex-direction: row;
		gap: 0;
	}
	aside {
		flex: 3 1 10rem;
		align-self: flex-start;
		position: sticky;
		top: 2rem;
	}
	main {
		flex: 3 0 40rem;
	}
	#inline-nav, #main-body {
		width: calc(100% - 4rem);
	}
}
/*
@media screen and (min-width: 100rem) {
	#inline-nav, #main-body {
		width: calc(100% - 8rem);
	}
	#above-fold {
		min-height: 50rem;
		gap: 4rem;
	}
	#above-fold #title {
		font-size: 8rem;
		margin-bottom: 8rem;
	}
}
*/

